.toolBox {
    background-image: url("img_1.png");
    width: 80%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 5rem;
    position: absolute;
    padding: 5rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tools {
    max-height: 4rem;
}