.toolBox {
    background-image: url("img_1.png");
    width: 25%;
    height: 17%;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 27%;
    right: 2rem;
    position: fixed;
    padding: 2rem 1rem 0 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
}

.tools {
    max-height: 4rem;
}