@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.weatherStatus {
    position: absolute;
    top: 1.1rem;
    right: 0;
    width: 4.3rem;
    height: 4.3rem;
    z-index: 10;
    object-fit: contain;
}


.tooltip {
    color: #4f7296;
    font-family: "Architects Daughter", cursive;
    font-size: 1.2rem;
    text-align: center;
    z-index: 1000;
    position: absolute;
    bottom: 1rem;
    font-weight: 700;
    width: 90%;
    left: 1rem;
    background: #dfe7ec;
    padding: 1rem;
    border-radius: 0;
    border: #3a5a7a 0.2rem solid;
    /* Pixelated entrance animation */
    animation: pixelPop 0.25s steps(4) forwards;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

@keyframes pixelPop {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}