.plantBox {
    font-family: "Architects Daughter", cursive;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    /*background: #4f7296;*/
    transition: all steps(4) 0.18s;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    color: #dfe7ec;
}

.plantBox:hover {
    transform: scale(1.15);
    box-shadow:
            0 0 0 2px #e38a31,
            0 0 0 4px #603308,
            0 0 0 6px #7e4307; /* pixelated border effect */
}