.editModal {
    position: fixed;
    z-index: 19999;
    height: 70%;
    width: 40%;
    background-image: url("img.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid #603308 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
    left: 30%;
    top: 15%;
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.closeButton {
    position: absolute;
    right: 2px;
    top: 0;
    font-size: 2.5rem;
    height: 2rem;
    display: flex;
    line-height: 100%;
}

.closeButton:hover {
    cursor: pointer;
}

.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 700;
    gap: 4px;
}

.editModal h2 {
    text-align: left;
    width: 100%;
    font-size: 2rem;
}

.formGroup input,
.formGroup textarea{
    padding: 8px;
    font-family: "Architects Daughter", cursive;
    font-weight: 600;
}

.formGroup input {
    height: 2rem;
}

.saveButton,
.cancelButton {
    height: 2rem;
    width: 8rem;
}

.buttonGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.closeButton {

}