@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.taskPosting {
    font-family: "Architects Daughter", cursive;
    height: 70%;
    width: 80%;
    background-image: url("Sign.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1010;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 750;
}