@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.taskPosting,
.nextDueTask,
.mostStages {
    font-family: "Architects Daughter", cursive;
    height: 55%;
    width: 50%;
    background-image: url("Sign.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1010;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: 750;
}

.nextDueTask {
    flex-direction: column;
    line-height: 1rem;
    padding-left: 0;
    font-size: 1.1rem;
}

.nextDueTask h3 {
    font-size: 1rem;
}

.mostStages {
    font-size: 0.9rem;
    padding-left: 16px;
}