.plantFormContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(214, 143, 72, 0.65);
    z-index: 2000;
}

.plantForm {

}