.dayGrid {
    display: grid;
    width: 90%;
    height: 20%;
    grid-template-columns: repeat(7, 1fr);
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
}

.dayGrid img {
    height: 20px;
    width: 20px;
}