.overviewBar {
    background-image: url("overviewBar.png");
    background-size: cover;
    height: 20%;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    gap: 5%;
}

.overviewBar img {
    z-index: 1001;
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 4rem;
}

