.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(90, 44, 8, 0.29);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 67%;
    width: 40%;
    padding: 1rem;
    background-image: url("img.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1rem #603308 solid;
    border-radius: 1rem;
    position: relative;
}

.header {
    font-size: 1.5rem;
    width: 100%;
}

.closeButton {
    position: absolute;
    top: 4px;
    right: 1rem;
    font-size: 2.5rem;
    font-weight: 750;
}

.closeButton:hover {
    cursor: pointer;
}

ul {
    font-size: 1.5rem;
}