.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(90, 44, 8, 0.29);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 70%;
    width: 40%;
    padding: 1rem;
    background-image: url("img.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1rem #603308 solid;
    border-radius: 1rem;
    position: relative;
}

.header {
    font-size: 1.5rem;
    width: 100%;
}

.closeButton {
    position: absolute;
    top: 4px;
    right: 1rem;
    font-size: 2.5rem;
    font-weight: 750;
}

.closeButton:hover {
    cursor: pointer;
}

ul {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
}

li {
    width: 100%;
    position: relative;
}

.edit {
    background: #4c91af;
    color: black;
    width: 4rem;
    height: 1.5rem;
    position: absolute;
    right: 5rem;
    border-radius: 4px;
    font-size: 1rem;
}

.delete {
    background: #f44336;
    color: black;
    width: 4rem;
    height: 1.5rem;
    position: absolute;
    right: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
}

.edit:hover,
.delete:hover,
.addBtn:hover {
    cursor: pointer;
    background: #243547;
    color: white;
}

.addBtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 30%;
    height: 10%;
}

