@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.title {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title img {
    height: 20%;
    position: fixed;
    top: 0;
}