.tasks {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 5rem;
    gap: 0.3rem;
    position: absolute;
    top: 8.5rem;
    left: 0;
    background-image: url("Tasks.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Architects Daughter", cursive;
    flex-shrink: 1;
}