.tasks {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-top: 5rem;
    gap: 4px;
    position: absolute;
    bottom: 5rem;
    left: 0;
    background-image: url("Tasks.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Architects Daughter", cursive;
}

